/* Main Div */
.img-wrap {
    position: relative;
    width: 150px;
}

/* Close button to remove image */
.img-wrap .close {
    position: absolute;
    top: -18px;
    right: -18px;
    color: white;
    font-size: 29px;
    font-weight: bold;
    background-color: black;
    padding: 0 7px 0 7px;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 100;
}

/* Display image */
#preview {
  display: block;
  width: 100%;
  height: auto;
}